<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="../dashboard/index.html" class="b-brand text-primary">
        <img src="../Procesos/ingreso/Logofundacite.webp" alt="Logo Fundacite"
          style="width: 250px; height: auto; margin: 20px 0; max-width: 100%;">
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        @@include('./menu-list.html')
      </ul>

    </div>
  </div>

</nav>
<!-- [ Sidebar Menu ] end -->